@import './iconfont.css';

.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}

:root,
page {
  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;
}

// 修改导航栏边框
.wd-navbar.navbar.is-border::after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
}

.slide-text {
  animation: slideFromRight 3s forwards; /* 直接在元素上定义动画 */
}
 
@keyframes slideFromRight {
  0% {
    transform: translateX(100%); /* 从右到左移动 */
  }
  100% {
    transform: translateX(0); /* 移动到原点 */
  }
}
