@import './iconfont.css';

.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}

:root,
page {
  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;
}

// 修改导航栏边框
.wd-navbar.navbar.is-border::after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
}

.slide-text {
  animation: slideFromRight 3s forwards; /* 直接在元素上定义动画 */
}

.animate-opacity {
  animation: animateOpacity 2s linear infinite;
}
 
@keyframes slideFromRight {
  0% {
    transform: translateX(100%); /* 从右到左移动 */
  }
  100% {
    transform: translateX(0); /* 移动到原点 */
  }
}

@keyframes animateOpacity {
  0% {
    opacity: 0.2; /* 初始透明度 */
  }
  50% {
    opacity: 0.5; /* 初始透明度 */
  }
  100% {
    opacity: 1; /* 结束透明度 */
  }
}
// 隐藏滚动条
::-webkit-scrollbar{
	width: 0;
	height: 0;
	color: transparent;
}
scroll-view{
	padding: 0;
  overflow: hidden;
}
scroll-view ::-webkit-scrollbar {
	width: 0;
  height: 0;
  -webkit-appearance: none;
  background: transparent;
}

